.header {
  margin-right: 30px;
}

.col-md-2 {
  background-color: #f5f5f5;
  min-height: 1000px;
}
ul.sidebar-nav {
  text-decoration: none;
  list-style: none;
}

.sidebar-nav {
  background-color: #f5f5f5;
  height: 100%;
}

#topWell{
  border: none;
  margin-top: -10px;
}

.panel-title {
  font-weight: bold;
  color: black;
}

#thumb1 {
  height:120px;
  /* width: 200px; */
  /* margin: 0 8px 0 0;; */
  padding: 5px;
}
#thumb2 {
  height:150px;

  /* width: 200px; */
  /* margin: 0 8px 0 0;; */
  padding: 5px;
}

.left-well {
  background-color: #f5fffa;
}

.right-well {
  background-color: #f5faff;
}